langchain==0.0.348
langchain-community==0.0.1
langchain-core==0.0.13
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.69
layoutparser==0.3.4
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529288960/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==16.0.0
llvmlite==0.38.0
